$brown-brown-500: #dba765;
$gray-gray-300: #999999;
$brown-brown-400: #e2b984;
$brown-brown-600: #a7722f;
$gray-gray-100: #dddddd;
$gray-gray-500: #555555;
$gray-gray-600: #404040;
$begiebegie-50: #f9f7f4;
$begiebegie-100: #f2efe8;
$begiebegie-200: #e5ded2;
$begiebegie-600: #8f826b;

body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
