@use "src/base";

.landing-img-room {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://firebasestorage.googleapis.com/v0/b/alta-875f0.appspot.com/o/home-slide%2F3ea946430e67205fee54d588c55991a9.png?alt=media&token=1b1b6171-a4ca-49fb-a8e6-b6806ef3679f")
      lightgray -117px -382.12px / 106.094% 204.877% no-repeat;
  width: 1920px;
  height: 661px;
  flex-shrink: 0;
}
.landing-room-content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  > h3 {
    font-family: Judson;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    font-style: normal;
  }
  > p {
    text-align: center;
    width: 976px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
  }
}
.room {
  padding-top: 68px;
  padding-bottom: 80px;
}
.section-room {
  width: 100%;
  background-color: base.$begiebegie-100;
  margin-bottom: 68px;
}
/* =============== DETAILS ROOM =============== */
.details-room-container {
  margin-left: auto;
  margin-right: auto;
  width: 1550px;
  padding: 48px 0;
  display: grid;
  grid-template-columns: repeat(2, 775px);
  justify-content: center;
}
.details-room-description {
  padding-left: 80px;
  padding-right: 80px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-right: 1px solid base.$begiebegie-600;
  ul {
    align-self: stretch;
  }
}
h3.header-details-room {
  color: base.$gray-gray-600;
  text-align: center;
  font-family: Judson;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.details-room-benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.list-benefit {
  display: flex;
  align-items: start;
  gap: 8px;
}
.list-benefit p,
.details-room-description li {
  color: base.$gray-gray-600;
  /* Lato/18px: Regular */
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
/* =============== FEEDBACK ROOM =============== */
.list-feedback-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.feedback-customer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.more-feedback {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 32px;
  color: base.$brown-brown-500;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  text-decoration-line: underline;
}
.write-feedback-container {
  background: base.$begiebegie-100;
  display: flex;
  width: 100%;
  padding: 28px 0px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.input-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.submit-btn {
  box-sizing: border-box;
  background-color: base.$brown-brown-500;
  display: flex;
  padding: 10px 24px;
  width: 130px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  color: #fff;
  /* Inter/18/18px: Semi Bold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.submit-btn:hover {
  background-color: base.$brown-brown-600;
  cursor: pointer;
}
.other-rooms-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 68px 200px 80px;
}
.slider-room {
  width: 1988px;
  height: 1031px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("https://images.unsplash.com/photo-1445019980597-93fa8acb246c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjBsdXh1cnl8ZW58MHx8MHx8fDA%3D")
      lightgray 0px -131.51px / 100% 128.227% no-repeat;

  .carousel-img {
    // z-index: 100;
    height: 704px;
    width: 1020px;
  }
  .img-slide {
    // display: inline;
    height: 624px;
    width: 1020px;
    object-fit: cover;
  }
}
